@import "tailwindcss";

@theme {
  --font-sans: "Poppins", sans-serif;
  --font-orbitron: "Orbitron Variable", sans-serif;
  --color-background: #EEE8DF;
  --color-primary: #2C365A;
  --color-secondary: #C4BCB0;
  --color-foreground: #000000;
  --color-background-card: #FFFFFF;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--color-background);
}
