---
import AstroIcon from "../assets/icons/astro-icon.astro";
import AwsIcon from "../assets/icons/aws.astro";
import BetterAuthIcon from "../assets/icons/better-auth.astro";
import BunIcon from "../assets/icons/bun.astro";
import CssIcon from "../assets/icons/css.astro";
import DockerIcon from "../assets/icons/docker.astro";
import EslintIcon from "../assets/icons/eslint.astro";
import ExpressIcon from "../assets/icons/express.astro";
import FirebaseIcon from "../assets/icons/firebase.astro";
import FlyIcon from "../assets/icons/fly.astro";
import GitIcon from "../assets/icons/git.astro";
import GoogleCloudIcon from "../assets/icons/google-cloud.astro";
import HonoIcon from "../assets/icons/hono.astro";
import MetaIcon from "../assets/icons/meta.astro";
import NextIcon from "../assets/icons/next-icon.astro";
import NodeIcon from "../assets/icons/node.astro";
import ReactQueryIcon from "../assets/icons/react-query.astro";
import ReactIcon from "../assets/icons/react.astro";
import TailwindIcon from "../assets/icons/tailwind.astro";
import TrpcIcon from "../assets/icons/trpc.astro";
import TypescriptIcon from "../assets/icons/typescript.astro";
import VercelIcon from "../assets/icons/vercel.astro";
import GithubIcon from "../assets/icons/github.astro";
import PnpmIcon from "../assets/icons/pnpm.astro";
import lessThanSignIcon from "../assets/svg/resource5.svg?url";
import greaterThanSignIcon from "../assets/svg/resource4.svg?url";

const skills = [
  AstroIcon,
  AwsIcon,
  BetterAuthIcon,
  BunIcon,
  CssIcon,
  DockerIcon,
  EslintIcon,
  ExpressIcon,
  FirebaseIcon,
  FlyIcon,
  GitIcon,
  GoogleCloudIcon,
  HonoIcon,
  MetaIcon,
  NextIcon,
  NodeIcon,
  ReactQueryIcon,
  ReactIcon,
  TailwindIcon,
  TrpcIcon,
  TypescriptIcon,
  VercelIcon,
  GithubIcon,
  PnpmIcon,
];
---

<section
  class="flex items-center justify-center w-full px-4 mx-auto bg-secondary my-28"
>
  <div class="container mx-auto py-16">
    <div class="flex items-center mb-12">
      <img src={lessThanSignIcon} alt="less-than-sign" class="w-10 h-10" />
      <h2 class="text-2xl md:text-3xl lg:text-4xl font-bold">Skills</h2>
      <img
        src={greaterThanSignIcon}
        alt="greater-than-sign"
        class="w-10 h-10"
      />
    </div>

    <div
      class="grid grid-cols-3 sm:grid-cols-4 md:grid-cols-6 lg:grid-cols-8 xl:grid-cols-10 2xl:grid-cols-12 gap-3 md:gap-4 place-items-center justify-center w-full"
    >
      {
        skills.map((Icon) => (
          <div class="w-10 h-10 md:w-12 md:h-12 flex items-center justify-center">
            <Icon class="w-full h-full text-white hover:scale-110 transition-transform duration-300" />
          </div>
        ))
      }
    </div>
  </div>
</section>
